<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="web-timing-logger.ZPM">
    <Module>
      <Name>web-timing-logger</Name>
      <Version>0.0.3</Version>
      <Description>Timing, global ref, executed lines logger for incoming http request process.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.webtiming.PKG"/>
      <UnitTest Name="/" Package="tests.dc.webtiming" Phase="test"/>
    </Module>
  </Document>
</Export>